.navbar {
  position: sticky;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  z-index: 997;
}

ul {
  list-style-type: none;
}

.navbar-brand {
  font-size: 40px;
}

.logoimg {
  width: 80px;
  height: 70px;
  margin: 0px 50px 0px 0px;
}

.nav-item {
  padding-inline: 10px;
  font-weight: bolder;
  border-bottom: 2px solid rgb(255, 191, 0);
}

.nav-item:hover {
  border-bottom: 2px solid white;
}

.dropdown-item {
  font-size: 15px;
}

.dropdown-item:hover {
  background-color: rgb(255, 193, 7);
  color: white;
}

@media (max-width: 640px) {

  .navbar-brand {
    font-size: 35px;
  }

  .logoimg {
    width: 70px;
    height: 60px;
    margin: 0px 50px 0px 0px;
  }

  .nav-link {
    font-size: 20px;
  }

  .nav-item {
    border-bottom: 1px solid rgb(255, 191, 0);
    padding-inline: 8px;
    font-weight: bolder;
  }

  .btn {
    padding: 0px 5px 0px 5px;
  }

  .dropdown-item {
    font-size: 10px;
  }
}

@media (max-width: 565px) {

  .logoimg {
    width: 60px;
    height: 50px;
    margin: 0px 50px 0px 0px;
  }

  .navbar-brand {
    font-size: 30px;
  }

  .nav-link {
    font-size: 15px;
  }

  .nav-item {
    border-bottom: 1px solid rgb(255, 191, 0);
    padding-inline: 8px;
    font-weight: bolder;
  }
}

@media (max-width: 503px) {

  .logoimg {
    width: 50px;
    height: 40px;
    margin: 0px 50px 0px 0px;
  }

  .navbar-brand {
    font-size: 25px;
  }

  .nav-link {
    font-size: 15px;
  }

  .nav-item {
    border-bottom: 1px solid rgb(255, 191, 0);
    padding-inline: 7px;
    font-weight: bolder;
  }

  .btn {
    padding: 0px 5px 0px 5px;
    font-size: 10px;
  }
}

@media (max-width: 445px) {
  .nav-link {
    font-size: 13px;
  }
}

@media (max-width: 433px) {

  .nav-item {
    border-bottom: 1px solid rgb(255, 191, 0);
    padding-inline: 5px;
    font-weight: bolder;
  }

}

@media (max-width: 398px) {

  .logoimg {
    width: 40px;
    height: 30px;
    margin: 0px 50px 0px 0px;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .nav-item {
    border-bottom: 1px solid rgb(255, 191, 0);
    padding-inline: 4px;
  }
}

@media (max-width: 373px) {

  .logoimg {
    width: 40px;
    height: 30px;
    margin: 0px 50px 0px 0px;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .nav-link {
    font-size: 11px;
  }
}